* {
    box-sizing: border-box;
}

/* Really scuffed solution to move heading,
    but this has taken long enough.
    mby have it be part of the grid?
*/
h2 {
    margin-left: 535px;    
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px;
    box-shadow: 0px 8px 10px -10px grey;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    font-weight: bold;
}

li a:visited {
    color: black;
}

li:last-child a {
    font-weight: normal;
    float: right;
}

.form-container {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    gap: 10px;
    width: 100%;
    max-width: 800px;
}

#title {
    height: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 180px 180px;
    gap: 50px;
    justify-content: center;
}

.grid-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(100, 230, 200, 0.2);
    padding: 15px;
}

.card-and-form-button {
    align-self: flex-end;
    background-color: rgb(100, 230, 200);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.card-and-form-button:hover {
    background-color: aquamarine;
}

.card-and-form-button:active {
    background-color: rgb(100, 230, 200);
}

.big-button {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}